<% provide(:title, t('contact_page')) %>
<h1><%= t('contact_page') %></h1>
<p>
  <%= t('contact.body') %>
  <a href="http://www.railstutorial.org/#contact"><%= t('contact.this') %></a>
  <%= t('contact.end') %>
</p>
